@import url('https://fonts.googleapis.com/css?family=Cagliostro|Muli|Nunito');

:root{
    --main: #CCCBC6;
    --mainDark: #EAE7DC;
    --sidebarHover: #e3c4a8;
    --mainTransition: all 0.3s ease-in-out;
}

body{
    font-family: 'Muli', sans-serif !important;
}

