@import url('https://fonts.googleapis.com/css?family=Cagliostro|Muli|Nunito');

:root{
    --main: #CCCBC6;
    --mainDark: #EAE7DC;
}

body{
    font-family: 'Muli', sans-serif !important;
}


/* 
--main: #EAE7DC;
    --mainDark: #D8C3A5; */